---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <div class="post-content">
  <center><img src="https://lh3.googleusercontent.com/GGV1q4uZYGEQ7Y-b3AKDD2SIQBbZwEUg2Xf8LFw-jPqtb3znv1SWGs5r-PsZ0sOzr28m76l64nFYkJSSxkhhXCOAJBrx_ORdKJPEixwn7vyLoM3olndN9l4maVLOuMrydpWm2qYajQ=w594-h792-no" class="img-circle" alt="Abhishek" width="220" height="350"> </center><br><br><br>
    {{ content }}
  </div>

</article>
